.About{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 5vh;
    align-items: center;

}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 700px;
    justify-content: space-evenly;
}