#app-container{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

#left-hand{
  margin: 20px;
  flex: 1;
  padding: 12px;
  border-radius: 5px;
}

#right-hand{
  flex: 1;
  padding: 20px;
}

#center{
  flex: 3;
}

#deleteRecipe{
  margin: 0px 28px;
}

.mode{
  position: fixed;
  bottom: 28px;
}

#left-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 12px;
  margin-bottom: 20px;
  align-items: center;
}

#my-recipe{
  padding: 0;
  margin: 0;
}
